[Unit]
Description=StreamDeck

[Service]
ExecStart=/usr/local/bin/deckmaster --deck /path/to/.config/streamdeck/main.toml
Restart=on-failure
ExecReload=kill -HUP $MAINPID

[Install]
WantedBy=default.target
